@mixin flex($display, $align-prop, $justify-prop){
  display: $display;
  // flex-direction: $flex-prop;
  align-items: $align-prop;
  justify-content: $justify-prop;
}

@mixin grid($display, $align-prop, $justify-prop){
  display: $display;
  // flex-direction: $flex-prop;
  align-items: $align-prop;
  justify-items: $justify-prop;
}


@mixin mobile-only-1(){
  @media (max-width: 750px){
    @content;
  }
}

@mixin mobile-only-2(){
  @media (max-width: 399px){
    @content;
  }
}


@mixin mobile-selector($selector){
  @media (max-width: 768px){
    #{$selector}{
      @content;
    }   
  }
}